<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pangram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19BDF1421DEE1E6A007689F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19BDF15B1DEE1E6B007689F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19BDF1661DEE1E6B007689F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
